.avatar {
  border-radius: 100%;
  width: 3rem;
  height: 3rem;

  &.small {
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }

  &.large {
    width: 10rem;
    height: 10rem;
    border: 5px solid $body-background;
    margin-top: -80px;
  }

  &-link {
    font-size: 0.75rem;
  }
}
