.callout {
  color: $black;
  box-shadow: 0 1px 2px rgba($black, 0.07);
  background-color: $white-pure;

  &.success {
    a {
      color: $white;
      text-decoration: underline;
    }
  }
}

.callout-picture {
  color: $white;
  background-size: cover;
  position: relative;
  border-radius: $global-radius;
  overflow: hidden;
  min-height: 220px;
  &.large {
    min-height: 320px;
  }
  a {
    @include link-hover($white, $white-pure);
    padding-right: 1rem;
    float: left;
    display: none;
  }

  * {
    position: relative;
    z-index: 1;
  }

  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($black, 0.5);
    content: '';
  }

  .title {
    display: block;
  }
  &:hover {
    a {
      display: block;
    }
    .title {
      display: none;
    }
  }
}
