@mixin link-hover($color, $hover){
  color: $color;
  &:hover {
    color: $hover;
  }
}

$white-pure: #ffffff;
$white: #f4f4f4;
$black: #020103;

$orange: #fb9935;
$red: #b90b0b;
$red-dark: #8c0909;

$foundation-palette: (
  primary: $red,
  secondary: $red-dark,
  success: #2CC36C,
  warning: #ffae00,
  alert: #cc4b37,
);

$body-background: $white;

