section.section.dark
  .row.align-center.text-center
    .small-12.medium-6.columns
      <blockquote class="twitter-tweet" data-lang="en"><p lang="fr" dir="ltr"><a href="https://t.co/A6tlGGG7pM">https://t.co/A6tlGGG7pM</a> Connectez-vous avec des <a href="https://twitter.com/hashtag/fondateurs?src=hash">#fondateurs</a> <a href="https://twitter.com/hashtag/startups?src=hash">#startups</a> <a href="https://twitter.com/hashtag/designers?src=hash">#designers</a> <a href="https://twitter.com/hashtag/d%C3%A9veloppeurs?src=hash">#développeurs</a> <a href="https://twitter.com/hashtag/recruteurs?src=hash">#recruteurs</a> <a href="https://twitter.com/hashtag/freelance?src=hash">#freelance</a> <a href="https://twitter.com/hashtag/weblille?src=hash">#weblille</a></p>&mdash; Maud (@mihani_) <a href="https://twitter.com/mihani_/status/837591429056712704">March 3, 2017</a></blockquote>
    .small-12.medium-6.columns
      <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="fr" dir="ltr">Hey les lillois, n&#39;oubliez pas qu&#39;on a un super Slack pour tous ceux qui sont dans le web :)<a href="https://t.co/rHacJVWQZ2">https://t.co/rHacJVWQZ2</a><a href="https://twitter.com/hashtag/Lille?src=hash&amp;ref_src=twsrc%5Etfw">#Lille</a> <a href="https://twitter.com/hashtag/Slack?src=hash&amp;ref_src=twsrc%5Etfw">#Slack</a> <a href="https://t.co/mxNVKlpj1S">https://t.co/mxNVKlpj1S</a></p>&mdash; Adrien Gillon (@baDotNet) <a href="https://twitter.com/baDotNet/status/948202728043503617?ref_src=twsrc%5Etfw">January 2, 2018</a></blockquote>

